.history-container {
    max-width: 500px;
    margin: 125px auto;
    padding: 20px;
    background-color: #CFD8DC;
    border-style: solid;
    border-color: #263238;
    border-radius: 12px;
  }
  
  .history-container h2 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #263238;
  }
  
  .history-list {
    list-style: none;
    padding: 0;
  }
  
  .history-item {
    margin: 10px 0;
    padding: 10px;
    background-color: #3B5A78;
    border-radius: 6px;
  }
  
  .history-item a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;

    display: flex;
    justify-content: center;
  }
  