.history-container {
    max-width: 500px;
    margin: 125px auto;
    padding: 20px;
    background-color: #155263;
    border-radius: 12px;
    color: #bbe4e9;
  }
  
  .history-container h2 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  .history-list {
    list-style: none;
    padding: 0;
  }
  
  .history-item {
    margin: 10px 0;
    padding: 10px;
    background-color: #e8f1f1;
    border-radius: 6px;
  }
  
  .history-item a {
    text-decoration: none;
    color: #155263;
    font-weight: bold;

    display: flex;
    justify-content: center;
  }
  