/* SignUp.css */

.signup-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 16px;
    background-color: #CFD8DC;
    border-style: solid;
    border-color: #263238;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .signup-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #263238;
  }
  
  .signup-container .error {
    color: red;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .signup-container form {
    display: flex;
    flex-direction: column;
  }
  
  .signup-container input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .signup-container button {
    padding: 10px;
    background-color: #3B5A78;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  
  .signup-container button:hover {
    transform: scale(1.015);
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.3);
  }
  
  .signup-container button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
  
  .signup-container .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
  }
  
  .signup-container .flex p {
    margin: 0;
    color: #263238;
  }
  
  .signup-container .flex a {
    color: #007bff;
    text-decoration: none;
  }
  
  .signup-container .flex a:hover {
    text-decoration: underline;
  }
  
  .signup-container .text-red-500 {
    color: red;
    margin-top: 10px;
    text-align: center;
  }