*{
  font-family: "Montserrat", Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: linear-gradient(270deg, #d0e7ff, #a8cfff, #84b6f4, #679ad1, #4f83c4);
  background-size: 600% 600%;
  animation: moveGradient 18s ease infinite, pulse 8s ease-in-out infinite;
}

/* Smooth breathing brightness */
@keyframes pulse {
  0%, 100% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(1.1);
  }
}

/* Gradient movement */
@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

html, body {
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
}