.about-container {
    max-width: 800px;
    margin: 125px auto;
    padding: 40px 30px;
    background-color: #CFD8DC;
    border-style: solid;
    border-color: #263238;
    border-radius: 16px;
    color: #263238;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
  }
  
  .about-container h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #263238;
  }
  
  .subtext {
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 30px;
    color: #263238;
  }
  
  .section {
    margin-bottom: 30px;
  }
  
  .section h2 {
    font-size: 1.6rem;
    margin-bottom: 10px;
    color: #263238;
  }
  
  .section p {
    font-size: 1.1rem;
    line-height: 1.6;
  }